<center><div class="centered">
  <% if @errors %>
  	<% @errors.each do |error| %>
  		<%= error %>
  	<% end %>
  <% end %>

  <form action='/sessions' method= 'POST'>
    <input type='text' name='username' placeholder='Username'>
    <input type='password' name='password' placeholder='Password'>
    <input type='submit' value='Laugh It Up'>
  </form>
</div></center>
