

.jokes-li {
  border-bottom: 1px solid #b7c0ce;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: auto;
  /*width: 70%;*/
  list-style: none;
}

/*.inline {
  display: inline-block;
}*/

.list-of-jokes {
  width: 70%;
  margin: auto;
}

.joke-heading {
	display: inline-block
}

.answer-heading {
	display: inline-block;
}

.answer-votes-heading {
	display: inline-block;
	min-width: 105px;
}

.stats {
  width: 18%;
  display: flex;
  align-items: center;
}

.summary {
  width: 60%;
  display: flex;
}

li {
  list-style: none;
}

.tiny {
  width: 30%;
}

#home-button {
  margin: auto;
  width: 20%;
  padding-top: 20px;
}

nav {
  padding-top: 20px;
}

/*#nav CSS
*/
.no-bullets {
  list-style-type: none;
}

.no-margin {
  margin: 0;
}

.no-outline {
  outline: none;
}

.no-padding {
  padding: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.pipe-separate {
  padding-left: 1em;
  padding-right: 1em;
  border-right: 1px solid;
}

.pipe-separate:first-of-type {
  padding-left: 0;
}

  .pipe-separate:last-of-type {
    padding-right: 0;
    border-right: none;
  }

#logout-button {
  padding: 0px;
  margin: 0px;
  border:  none;
  background-color: transparent;
  text-decoration: underline;
}

#logout {
  width: 10px;
  padding: 0;
}

.joke-container {
  display: flex;
  align-items: center;
  margin: auto;
}

.joke-container-show {
  /*margin: auto;*/
  width: 70%;
  display: flex;
  align-items: center;
  margin: auto;
}

/*.joke-heading {
  margin: auto;
  width: 30%;
}

.joke-body {
  margin: auto;
  width: 30%;
}
*/
.joke-ul {
  display: flex;
  align-items: center;
  margin-top: 80px;
}

.votes {
  margin-right: 10px;
  border: 1px solid #b7c0ce;
  padding: 5px;
}

.answers {
  margin-right: 10px;
  border: 1px solid #b7c0ce;
  padding: 5px;
}

.views {
  border: 1px solid #b7c0ce;
  padding: 5px;
}

.num-top-padding {
  padding-top: 5px;
}

.votes-show {
  margin-right: 10px;
  padding: 5px;
}

.answers-show {
  margin-right: 10px;
  border: 1px solid #b7c0ce;
  padding: 5px;
  display: flex;
  align-items: center;
  height: 40px;
}

.views-show {
  border: 1px solid #b7c0ce;
  padding: 5px;
  display: flex;
  align-items: center;
  height: 40px;
}

.summary-show {
  width: 60%;
  display: flex;
  margin: auto;
  /*padding: 20px;*/
}

.stats-show {
  display: flex;
  align-items: center;
}
