.jokes-li {
  border-bottom: 1px solid #b7c0ce;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: auto;
  list-style: none;
}

.list-of-jokes {
  width: 70%;
  margin: auto;
}

.list-of-jokes ul {
  padding: 0;
}

.joke-heading {
  display: inline-block
}

.answer-heading {
  display: inline-block;
}

.answer-votes-heading {
  display: inline-block;
  min-width: 105px;
}

.stats {
  max-width: 200px;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

li {
  list-style: none;
}


/*#nav CSS
*/
/*#home-button {
  margin: auto;
  width: 20%;
  padding-top: 20px;
}*/

header {
  display: flex;
  justify-content: flex-end;
}

h1 {
  margin: 0;
  margin-right: 350px;
  width: 20%;
  padding-top: 15px;
}

nav {
  padding-top: 30px;
  padding-right: 40px;

}

.no-bullets {
  list-style-type: none;
}

.no-margin {
  margin: 0;
}

.no-outline {
  outline: none;
}

.no-padding {
  padding: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.pipe-separate {
  padding-left: 1em;
  padding-right: 1em;
  border-right: 1px solid;
}

.pipe-separate:first-of-type {
  padding-left: 0;
}

  .pipe-separate:last-of-type {
    padding-right: 0;
    border-right: none;
  }

#logout-button {
  padding: 0px;
  margin: 0px;
  border:  none;
  background-color: transparent;
  text-decoration: underline;
}






.joke-container {
  display: flex;
  align-items: center;
}
.posted-by {
  font-style: italic;
  font-size: 85%;
  color: #2e4b77;
}

.joke-container-show {
  width: 70%;
  display: flex;
  align-items: center;
  margin: auto;
}

.joke-ul {
  display: flex;
  align-items: center;
  margin-top: 80px;
}

.votes {
  margin-right: 10px;
  border: 1px solid #b7c0ce;
  padding: 5px;
}

.answers {
  margin-right: 10px;
  border: 1px solid #b7c0ce;
  padding: 5px;
}

.views {
  border: 1px solid #b7c0ce;
  padding: 5px;
}

.num-top-padding {
  padding-top: 5px;
}

.votes-show {
  margin-right: 10px;
  padding: 5px;
}

.answers-show {
  margin-right: 10px;
  border: 1px solid #b7c0ce;
  padding: 5px;
  display: flex;
  align-items: center;
  height: 40px;
}

.views-show {
  border: 1px solid #b7c0ce;
  padding: 5px;
  display: flex;
  align-items: center;
  height: 40px;
}

.summary-show {
  width: 60%;
  display: flex;
  margin: auto;
}

.stats-show {
  display: flex;
  align-items: center;
}
