<% if @errors %>
	<% @errors.each do |error| %>
		<%= error %>
	<% end %> 
<% end %>

<form action='/users' method= 'POST'>
  <label for='email'>Email:</label>
  <input type='email' name='user[email]'placeholder='Email'>
  <label for='username'>Username:</label>
  <input type='text' name='user[username]' placeholder='Username'>
  <label for='password'>Password:</label>
  <input type='password' name='user[password]' placeholder='Password'>
  <input type='submit' value='Laugh It Up'>
</form>
