<h2> Post a Joke </h2>

<textarea rows="5" cols="50" name="joke" form="post-a-joke">
Tell your joke!</textarea>
<textarea rows="5" cols="50" name="punchline" form="post-a-joke">
Punchline?</textarea>

<br> <br>
<form id="post-a-joke" action='/jokes' method='POST'>
  <input type='submit' value='Laugh It Up'>
</form>


