<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <header role="banner" class="mar-t-5 pad-t-2 pad-b-4 wrap-float bg-white">
    <div class="center wrap-float">
      <nav class="clearfix mar-b-1">
        <ul class="no-bullets no-margin no-padding right tiny">
          <% if logged_in? %>
              <li class="pipe-separate t-light-green left inline tiny">
                <div id="hello">
                  <a href="/users/<%= current_user.id %>" ><%= "Hello, #{current_user.username}" %></a>
                </div>
              </li>
              <li class="pipe-separate t-light-green left inline tiny" >
              <div id="logout">
                <form action="/sessions" method="POST">
                  <input type="hidden" name="_method" value="DELETE" >
                  <input type="submit" value="logout" id="logout-button">
                </form>
              </div>
              <li class="pipe-separate t-light-green left"><a href="/jokes/new">post a joke</a></li>
            </li>
          <% else %>
            <li class="pipe-separate t-light-green left"><a href="/users/new" >sign up</a></li>
            <li class="pipe-separate t-light-green left"><a href="/sessions/new" >login</a></li>
          <% end %>
          <li class="pipe-separate t-light-green left"><a href="/">home</a></li>
        </ul>
      </nav>
    </div>
   <h1 id="home-button">LOLoverflow</h1>
  </header>
  <%= yield %>
</body>
</html>
